.section_link {
    text-decoration: none; /* Tar bort understrykning */
    color: inherit;
}

footer{
    background-color: rgb(66, 66, 66);
    height: 50vh;
    color: white;
    box-shadow: var(--box_shadow_footer);
    display: grid;
    grid-template-areas: "f f k";
}

#footer_follow_sec{
    grid-area: f;  
    padding-left: 2em;
}
#footer_contact_sec{
    grid-area: k;
}

#footer_follow_sec a > section{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5em;
    margin-right: 2em;
    border-bottom: solid rgb(50, 50, 50);
    border-radius: 0px 0px 15px 15px;
}

#footer_follow_sec img{
    width: 45px;
    border-radius: 7px;
}

#footer_contact_sec img{
    width: 45px;
    border-radius: 7px;
}

