@media only screen and (max-width: 300px) {
    .nav_hyperlinks{
        justify-content: center;
    }

    .nav_hyperlinks p{
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    nav {
        position: sticky;
        top: 0vh; 
        width: 100%;
        height: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        z-index: 1;
    }
    
    #nav_button {
        height: 15%;
        position: absolute;
        bottom: -5px; 
        left: 50%;
        transform: translateX(-50%);
        filter: invert();
        cursor: pointer;
        z-index: 1;
    }
    
    /*Idéen att separera nav och nav content fick jag av Gemini. Men koden skrev jag själv*/
    #nav_content { 
        background-color: var(--accent_colour);
        height: 75vh;
        width: 60vw;
        position: absolute; 
        top: var(--nav_menu_pos);
        border-radius: 0px 0px 20px 20px;
        box-shadow: var(--box_shadow);
        transition: top 0.5s ease-in-out;
        z-index: 1;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
    }
    
    #nav_content img {
        height: 10vh;
        filter: invert();
    }
    
    .nav_hyperlinks{
        grid-row: 1;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0.5em;
        margin: 0.5em;
        border-bottom: solid rgb(113, 212, 255);
        border-radius: 0px 0px 15px 15px;
        color: white;
    }
    
    #shadow_behind_nav{
        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, var(--see_through_val));
        height: 100vh;
        width: 100vw;
        transition: background-color 0.5s ease-in-out;
    }    
}

@media only screen and (min-width: 551px){
    nav {
        display: none;
    }
    
    #nav_button {
        display: none;
    }
    
    /*Idéen att separera nav och nav content fick jag av Gemini. Men koden skrev jag själv*/
    #nav_content { 
        display: none;
    }
    
    #nav_content img {
        display: none;
    }
    
    .nav_hyperlinks{
        display: none;
    }
    
    #shadow_behind_nav{
        display: none;
    }
}