header{
    background-color: blue;
    height: 20vh;
}

nav{
    background-color: blueviolet;
    height: 10vh;
}

#sec1{
    background-color: grey;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#sec1 img{
    filter: brightness(40%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
}

#sec1 p{
    position: absolute;
    z-index: 2;
    top: 50%;                           /*Denna koden fick jag från chatGPT*/
    left: 50%;                          /*Denna koden fick jag från chatGPT*/
    transform: translate(-50%, -50%);   /*Denna koden fick jag från chatGPT*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
}

#sec2{
    background-color: bisque;
    height: auto;
    width: 70vw;
    margin: auto;
}

footer{
    background-color: brown;
    height: 50vh;
}

