h2{
    color: var(--black_text_color);
    font-family: var(--font_family);
}

@media only screen and (max-width: 550px){
    #image_sec{
        height: 75vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        box-shadow: var(--box_shadow);
        z-index: 0;
        margin-top: -9vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #image_sec img{
        filter: brightness(60%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #image_sec p{
        position: absolute;
        z-index: 1;
        width: 100vw;
        color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 2.5em;
    }

    #customer_service_sec{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hero_sec_below_img{
        background-color: var(--foreground_colour);
        width: 85vw;
        padding: 5vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #hero_sec_beside_img{
        display: none;
    }
    
    #quick_select_sec{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 5vh 0;
    }

    .customer_service_sec_link{
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 65vw;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    .customer_service_sec_link:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
        
    }

    .customer_service_sec_link:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #report_damage_sec{
        background-color: var(--foreground_colour);
        width: 85vw;
        padding-top: 5vh;
        padding-bottom: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: dotted var(--background_color);
    }
    #report_damage_sec p{
        text-align: center;
        padding: 0 5vw;
    }

    #my_pages_sec{
        background-color: var(--foreground_colour);
        width: 85vw;
        padding-top: 5vh;
        padding-bottom: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: dotted var(--background_color);
    }
    #my_pages_sec p{
        text-align: center;
        padding: 0 5vw;
    }

    #insurance_check_sec{
        background-color: var(--foreground_colour);
        width: 85vw;
        padding-top: 5vh;
        padding-bottom: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: dotted var(--background_color);
    }
    #insurance_check_sec p{
        text-align: center;
        padding: 0 5vw;
    }

    #common_questions_sec{
        padding-top: 5vh;
        padding-bottom: 10vh;
        border-top: dotted var(--background_color);
        background-color: var(--foreground_colour);
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }
    summary{
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    summary:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    summary:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    summary p{
        padding: 0 2vw;
    }
    details{
        width: 60vw;
    }
    .details_text {
        margin-top: 10px;
        padding: 15px 2vw;
        border-left: 4px solid var(--accent_colour); 
        background-color: var(--background_color); 
    }
    
    summary::after { /*summary::after och details[open] summary::after Fick jag från Gemini*/
        content: '❯';
        display: inline-block;
        padding-right: 2vw;
        transition: transform 0.3s ease;
        color: var(--accent_colour);
    }
    details[open] summary::after {
        transform: rotate(90deg);
    }

    #send_mail_sec{
        padding-top: 5vh;
        padding-bottom: 10vh;
        border-top: dotted var(--background_color);
        width: 85vw;
        background-color: var(--foreground_colour);
        color: var(--black_text_color);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #send_mail_sec p{
        padding: 0 5vw;
    }
    #enter_info_sec{
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .input_sec{
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .input_sec input{
        width: 60vw;
        padding: 2vh 3vw;
        font-size: 1em;
        border: 2px solid var(--background_color);
        border-radius: 5px;
        background-color: white;
        color: var(--black_text_color);
        font-family: var(--font_family);
        outline: none;
        transition: box-shadow ease 0.2s;
    }
    #enter_info_sec input:focus{
        box-shadow: 0px 0.1em 7px rgba(0, 0, 0, 0.226) inset;
        transition: box-shadow ease 0.2s;
    }
    #textarea_sec{
        padding-top: 2vh;
        border-top: dashed var(--background_color);
    }
    #textarea_sec textarea{
        width: 61.3vw;
        height: 10vh;
        padding: 2vh;
        font-size: 1em;
        font-family: var(--font_family);
        vertical-align: top;
        white-space: pre-wrap;
        overflow-y: auto;
        border: 2px solid var(--background_color);
        border-radius: 5px;
        outline: none;
        resize: none;
        transition: box-shadow ease 0.2s;
    }
    #textarea_sec textarea:focus{
        box-shadow: 0px 0.1em 7px rgba(0, 0, 0, 0.226) inset;
        transition: box-shadow ease 0.2s;
    }

    #continue_button{
        background-color: var(--foreground_colour);
        margin-top: 5vh;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 35vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #continue_button:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #continue_button:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #contact_sec{
        padding-top: 5vh;
        padding-bottom: 10vh;
        width: 85vw;
        background-color: var(--foreground_colour);
        border-top: dotted var(--background_color);
        display: flex;
        flex-direction: column;
    }
    #call_us_sec section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #call_us_sec h2{
        margin-bottom: -2vh;
        text-align: center; 
    }
    #call_us_sec a{
        background-color: var(--foreground_colour);
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 40vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #call_us_sec a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    .tiny_text{
        color: rgb(123, 123, 123);
        font-size: 2.5vh;
        text-align: center;
        margin-top: -2vh;
    }
    .slightly_bigger_text{
        font-size: 1.3em;
        margin-top: 10vh;
    }

    #AI_chat_sec{
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #AI_chat_sec p{
        text-align: center;
        padding: 0 5vw;
    }
    #AI_chat_sec a{
        background-color: var(--foreground_colour);
        margin-top: 5vh;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 45vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #AI_chat_sec a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #AI_chat_sec a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #side_foot_sec{
        padding-top: 5vh;
        padding-bottom: 10vh;
        width: 85vw;
        background-color: var(--foreground_colour);
        border-top: dotted var(--background_color);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #side_foot_sec p{
        text-align: center;
        padding: 0 5vw;
    }
    #side_foot_sec a{
        background-color: var(--foreground_colour);
        margin-top: 5vh;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 60vw;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #side_foot_sec a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #side_foot_sec a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
}

@media only screen and (min-width: 551px) and (max-width: 1200px){
    #image_sec{
        z-index: 0;
        width: 100%;
        height: 100vh;
        display: flex;                      /*Innan jag använde flex använde jag AI genererad kod som var mindre effektiv än att bara använda flex*/
        align-items: center;
        padding-left: 5vw;
    }
    #image_sec img{
        filter: brightness(60%);
        width: 50vw;
        height: 85vh;
        overflow: hidden;
        object-fit: cover;
        box-shadow: var(--box_shadow);
        border-radius: 5px 0 0 5px;
    }
    #image_sec_p{
        position: absolute;
        z-index: 1;
        width: 100vw;
        color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 2.5em;
        margin-left: -26.5vw;
    }

    #hero_sec_beside_img{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 41.5vw;
        height: 85vh;
        background-color: var(--foreground_colour);
        border-radius: 0 5px 5px 0;
        box-shadow: var(--box_shadow);
    }
    #hero_sec_beside_img a{
        border: solid var(--accent_colour); 
        background-color: var(--foreground_colour);
        width: 30vw;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 5vw;
        font-family: var(--font_family);
        color: var(--black_text_color);
        font-weight: bold;
        border-radius: 5px;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #hero_sec_beside_img a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #hero_sec_beside_img a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #hero_sec_below_img{
        display: none;
    }

    #customer_service_sec{
        width: 85vw;
        background-color: var(--foreground_colour);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .gray_customer_service_link{
        padding: 0vh 1vw;
        background-color: var(--foreground_colour);
        margin-top: 5vh;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid rgba(0, 0, 0, 0.231) 3px;
        border-radius: 5px;
        width: fit-content;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    .gray_customer_service_link:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    .gray_customer_service_link:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    .hyperlink_description{
        padding-left: 8px;
        border-left: 4px solid rgba(0, 0, 0, 0.315);
        padding-right: 10vw;
    }
    #report_damage_sec{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10vh 15vw;
    }
    #my_pages_sec{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10vh 15vw;
    }
    #insurance_check_sec{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10vh 15vw;
    }

    #common_questions_sec{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10vh 15vw;
        gap: 20px;
    }
    summary{
        color: var(--black_text_color);
        font-weight: bold;
        border: solid rgba(0, 0, 0, 0.231) 3px;
        border-radius: 5px;
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    summary:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    summary:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    summary p{
        padding: 0 2vw;
    }
    details{
        width: 60vw;
    }
    .details_text {
        margin-top: 20px;
        padding: 15px 2vw;
        border-left: 4px solid var(--accent_colour); 
        background-color: var(--background_color); 
    }
    
     /*summary::after och details[open] summary::after Fick jag från Gemini*/
     summary::after {
        content: '❯';
        display: inline-block;
        width: 1.5em;       /* Ger pilen en fast "box" att rotera i */
        text-align: center; /* Centrerar pilen i boxen */
        margin-right: 2vw;  /* Skapar avstånd till kanten utan att påverka boxens mitt */
        transform-origin: center;
        transition: transform 0.3s ease;
    }
    details[open] summary::after {
        transform: rotate(90deg);
    }

    #send_mail_sec{
        padding-top: 5vh;
        padding-bottom: 10vh;
        border-top: dotted var(--background_color);
        width: 85vw;
        background-color: var(--foreground_colour);
        color: var(--black_text_color);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #send_mail_sec p{
        padding: 0 5vw;
    }
    #enter_info_sec{
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    #enter_info_sec input{
        width: 60vw;
        padding: 2vh 3vw;
        font-size: 1em;
        border: 2px solid var(--background_color);
        border-radius: 5px;
        background-color: white;
        color: var(--black_text_color);
        font-family: var(--font_family);
        outline: none;
        transition: box-shadow ease 0.2s;
    }
    #enter_info_sec input:focus{
        box-shadow: 0px 0.1em 7px rgba(0, 0, 0, 0.226) inset;
        transition: box-shadow ease 0.2s;
    }
    #enter_info_sec section{
        padding-top: 2vh;
        border-top: dashed var(--background_color);
    }
    #enter_info_sec section textarea{
        width: 61.3vw;
        height: 10vh;
        padding: 2vh;
        font-size: 1em;
        font-family: var(--font_family);
        vertical-align: top;
        white-space: pre-wrap;
        overflow-y: auto;
        border: 2px solid var(--background_color);
        border-radius: 5px;
        outline: none;
        resize: none;
        transition: box-shadow ease 0.2s;
    }
    #enter_info_sec section textarea:focus{
        box-shadow: 0px 0.1em 7px rgba(0, 0, 0, 0.226) inset;
        transition: box-shadow ease 0.2s;
    }

    #continue_button{
        background-color: var(--foreground_colour);
        margin-top: 5vh;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 35vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #continue_button:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #continue_button:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
}

@media only screen and (min-width: 1201px){
    #image_sec{
        z-index: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        padding-left: 5vw;
    }
    #image_sec img{
        filter: brightness(60%);
        width: 600px;
        height: 85vh;
        overflow: hidden;
        object-fit: cover;
        box-shadow: var(--box_shadow);
        border-radius: 5px 0 0 5px;
    }
    #image_sec_p{
        position: absolute;
        z-index: 1;
        width: 100vw;
        color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 2.5em;
        margin-left: -26.5vw;
    }

    #hero_sec_beside_img{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 41.5vw;
        height: 85vh;
        background-color: var(--foreground_colour);
        border-radius: 0 5px 5px 0;
        box-shadow: var(--box_shadow);
    }
    #hero_sec_beside_img a{
        border: solid var(--accent_colour); 
        background-color: var(--foreground_colour);
        width: 30vw;
        height: 50px;
        display: flex;
        align-items: center;
        font-family: var(--font_family);
        color: var(--black_text_color);
        font-weight: bold;
        padding-left: 5vw;
        border-radius: 5px;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #hero_sec_beside_img a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #hero_sec_beside_img a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #hero_sec_below_img{
        display: none;
    }  

    #customer_service_sec{
        width: 85vw;
        background-color: var(--foreground_colour);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .gray_customer_service_link{
        padding: 0vh 1vw;
        background-color: var(--foreground_colour);
        margin-top: 5vh;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid rgba(0, 0, 0, 0.231) 3px;
        border-radius: 5px;
        width: fit-content;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    .gray_customer_service_link:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    .gray_customer_service_link:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    .hyperlink_description_first_three{
        padding-left: 8px;
        border-left: 4px solid rgba(0, 0, 0, 0.315);
        padding-right: 5vw;
    }
    .hyperlink_description{
        padding-left: 8px;
        border-left: 4px solid rgba(0, 0, 0, 0.315);
        padding-right: 20vw;
    }

    #report_damage_sec{
        margin-bottom: 10vh;
        padding: 10vh 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #report_damage_sec section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -100px;
        padding-right: 5vw;
        color: var(--black_text_color);
    }
    #report_damage_sec img{
        height: 70vh;
        margin-right: -68px;
        border-radius: 10px;
    }

    #my_pages_sec{
        margin-bottom: 10vh;
        padding: 10vh 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #my_pages_sec section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -100px;
        padding-right: 5vw;
        color: var(--black_text_color);
    }
    #my_pages_sec img{
        height: 70vh;
        margin-right: -68px;
        border-radius: 10px;
    }

    #insurance_check_sec{
        margin-bottom: 10vh;
        padding: 10vh 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #insurance_check_sec section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -100px;
        padding-right: 5vw;
        color: var(--black_text_color);
    }
    #insurance_check_sec img{
        height: 70vh;
        margin-right: -68px;
        border-radius: 10px;
    }

    #common_questions_sec{
        border-top: dotted 4px var(--background_color);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10vh 15vw;
        gap: 20px;
        padding-bottom: 15vh;
    }
    summary{
        color: var(--black_text_color);
        font-weight: bold;
        border: solid rgba(0, 0, 0, 0.231) 3px;
        border-radius: 5px;
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    summary:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    summary:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    summary p{
        padding: 0 2vw;
    }
    details{
        width: 60vw;
    }
    .details_text {
        margin-top: 20px;
        padding: 15px 2vw;
        border-left: 4px solid var(--accent_colour); 
        background-color: var(--background_color); 
    }
    
     /*summary::after och details[open] summary::after Fick jag från Gemini*/
     summary::after {
        content: '❯';
        display: inline-block;
        width: 1.5em;       /* Ger pilen en fast "box" att rotera i */
        text-align: center; /* Centrerar pilen i boxen */
        margin-right: 2vw;  /* Skapar avstånd till kanten utan att påverka boxens mitt */
        transform-origin: center;
        transition: transform 0.3s ease;
    }
    details[open] summary::after {
        transform: rotate(90deg);
    }

    #send_mail_sec{
        border-top: dotted 4px var(--background_color);
        padding-top: 5vh;
        padding-bottom: 10vh;
        background-color: var(--foreground_colour);
        color: var(--black_text_color);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10vh 15vw;
        padding-bottom: 15vh;
    }
    #enter_info_sec{
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .input_sec{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 2vh;
    }
    .input_sec input{
        width: 20vw;
        padding: 2vh 3vw;
        font-size: 1em;
        border: 2px solid var(--background_color);
        border-radius: 5px;
        background-color: white;
        color: var(--black_text_color);
        font-family: var(--font_family);
        outline: none;
        transition: box-shadow ease 0.2s;
    }
    #enter_info_sec input:focus{
        box-shadow: 0px 0.1em 7px rgba(0, 0, 0, 0.226) inset;
        transition: box-shadow ease 0.2s;
    }
    #textarea_sec{
        padding-top: 2vh;
        border-top: dashed var(--background_color);
    }
    #textarea_sec textarea{
        width: 51.5vw;
        height: 20vh;
        padding: 2vh;
        font-size: 1em;
        font-family: var(--font_family);
        vertical-align: top;
        white-space: pre-wrap;
        overflow-y: auto;
        border: 2px solid var(--background_color);
        border-radius: 5px;
        outline: none;
        resize: none;
        transition: box-shadow ease 0.2s;
    }
    #textarea_sec textarea:focus{
        box-shadow: 0px 0.1em 7px rgba(0, 0, 0, 0.226) inset;
        transition: box-shadow ease 0.2s;
    }

    #continue_button{
        padding: 0vh 1vw;
        background-color: var(--foreground_colour);
        margin-top: 5vh;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid rgba(0, 0, 0, 0.231) 3px;
        border-radius: 5px;
        width: 8vw;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #continue_button:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #continue_button:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #contact_sec{
        border-top: dotted 4px var(--background_color);
        display: flex;
        flex-direction: column;
    }
    #call_us_sec h2{
        padding: 5vh 15vw;
        padding-top: 10vh;
    }
    #all_ways_to_conact_sec{
        display: flex;
        flex-direction: row;
        justify-content: center; 
        border-bottom: dashed var(--background_color);
        margin: 0 15vw;
        padding-bottom: 10vh;
        width: 60vw;
        justify-self: flex-start;
    }
    #private_contact_sec{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 20vw;
    }
    #buissness_contact_sec{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 20vw;
    }
    #emergency_contact_sec{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 20vw;
    }
    .slightly_bigger_text{
        font-weight: bold;
        font-size: 1.2em;
        color: var(--black_text_color);
    }
    .tiny_text{
        color: var(--black_text_color);
        padding-right: 4vw;
        height: 12vh;
        display: flex;
        align-items: center;
    }

    #AI_chat_sec{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10vh 15vw;
        padding-bottom: 15vh;
    }

    #side_foot_sec{
        border-top: dotted 4px var(--background_color);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10vh 0vw;
        padding-left: 15vw;
        margin-bottom: 10vh;
    }
    #all_side_foot_links_sec{
        display: flex;
        flex-direction: row;
        gap: 1vw;
    }
}

summary {
    list-style: none;
}

