@media only screen and (max-width: 550px){
    #image_sec{
        height: 75vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 0;
        margin-top: -9vh;
        display: flex;                      /*Innan jag använde flex använde jag AI genererad kod som var mindre effektiv än att bara använda flex*/
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
    }
    #image_sec img{
        filter: brightness(60%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #image_sec p{
        position: absolute;
        z-index: 1;
        width: 100vw;
        color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 2.5em;
    }

    #hero_sec{
        display: none;
    }
    #hero_sec a{
        display: none;
    }

    #insurance_sec{
        width: 85vw;
        background-color: var(--foreground_colour);
        margin: 0 auto;         /*Detta fick jag med hjälp av AI, vet inte varför det inte fungerar utan en nolla i mitten??*/
        display: flex;
        flex-direction: column;
    }

    .insurance_hyperlink{
        padding: 0 2vw;
        background-color: var(--foreground_colour);
        margin-top: 5vh;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: fit-content;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    .insurance_hyperlink:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    .insurance_hyperlink:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #car_insurance{
        padding: 5vh 6vw;
    }
    #car_insurance_not_img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #car_insurance img{
        display: none;
    }

    #house_insurance{
        border-top: dotted var(--background_color);
        margin-top: 4vh;
        padding: 5vh 6vw;
    }
    #house_insurance_not_img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #house_insurance img{
        display: none;
    }

    #life_insurance{
        border-top: dotted var(--background_color);
        margin-top: 4vh;
        padding: 5vh 6vw;
    }
    #life_insurance_not_img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #life_insurance img{
        display: none;
    }

    #other_vehicle_insurances{
        border-top: dotted var(--background_color);
        margin-top: 4vh;
        padding: 5vh 6vw;
    }
    #other_vehicle_insurances_not_img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #other_vehicle_insurances img{
        display: none;
    }

    #animal_insurance{
        border-top: dotted var(--background_color);
        margin-top: 4vh;
        margin-bottom: 10vh;
        padding: 5vh 6vw;
    }
    #animal_insurance_not_img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #animal_insurance img{
        display: none;
    }
}  

@media only screen and (min-width: 551px) and (max-width: 1200px){
    #image_sec{
        z-index: 0;
        width: 100%;
        height: 100vh;
        display: flex;                      /*Innan jag använde flex använde jag AI genererad kod som var mindre effektiv än att bara använda flex*/
        align-items: center;
        padding-left: 5vw;
    }
    #image_sec img{
        filter: brightness(60%);
        width: 50vw;
        height: 85vh;
        overflow: hidden;
        object-fit: cover;
        box-shadow: var(--box_shadow);
        border-radius: 5px 0 0 5px;
    }
    #image_sec p{
        position: absolute;
        z-index: 1;
        width: 100vw;
        color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 2.5em;
        margin-left: -26.5vw;
    }

    #hero_sec{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 41.5vw;
        height: 85vh;
        background-color: var(--foreground_colour);
        border-radius: 0 5px 5px 0;
        box-shadow: var(--box_shadow);
    }
    #hero_sec a{
        border: solid var(--accent_colour); 
        background-color: var(--foreground_colour);
        width: 30vw;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 5vw;
        font-family: var(--font_family);
        color: var(--black_text_color);
        font-weight: bold;
        border-radius: 5px;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #hero_sec a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #hero_sec a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #insurance_sec{
        width: 85vw;
        background-color: var(--foreground_colour);
        margin: 0 auto;     /*nollan finns för att den bara ska lägga auto på sidorna sa Gemini*/
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
    }

    .insurance_hyperlink{
        padding: 0vh 1vw;
        background-color: var(--foreground_colour);
        margin-top: 5vh;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid rgba(0, 0, 0, 0.231) 3px;
        border-radius: 5px;
        width: fit-content;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    .insurance_hyperlink:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    .insurance_hyperlink:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    .insurance_text{
        padding-left: 8px;
        border-left: 4px solid rgba(0, 0, 0, 0.315);
        background-color: rgba(255, 255, 255, 0.767);
    }
    h3{
        font-size: 1.5em;
    }

    #car_insurance{
        margin-bottom: 6vh;
        padding: 4vh 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #car_insurance_not_img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 5vw;
        color: var(--black_text_color);
    }
    #car_insurance img{
        display: none;
    }

    #house_insurance{
        border-top: dotted var(--background_color);
        margin-bottom: 6vh;
        margin-bottom: 10vh;
        padding: 4vh 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #house_insurance_not_img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 5vw;
        color: var(--black_text_color);
    }
    #house_insurance img{
        display: none;
    }

    #life_insurance{
        border-top: dotted var(--background_color);
        margin-bottom: 6vh;
        margin-bottom: 10vh;
        padding: 4vh 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #life_insurance_not_img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 5vw;
        color: var(--black_text_color);
    }
    #life_insurance img{
        display: none;
    }

    #other_vehicle_insurances{
        border-top: dotted var(--background_color);
        margin-bottom: 6vh;
        margin-bottom: 10vh;
        padding: 4vh 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #other_vehicle_insurances_not_img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 5vw;
        color: var(--black_text_color);
    }
    #other_vehicle_insurances img{
        display: none;
    }

    #animal_insurance{
        border-top: dotted var(--background_color);
        margin-bottom: 6vh;
        margin-bottom: 10vh;
        padding: 4vh 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #animal_insurance_not_img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 5vw;
        color: var(--black_text_color);
    }
    #animal_insurance img{
        display: none;
    }
}

@media only screen and (min-width: 1201px){
    #image_sec{
        z-index: 0;
        width: 100%;
        height: 100vh;
        display: flex;                      /*Innan jag använde flex använde jag AI genererad kod som var mindre effektiv än att bara använda flex*/
        align-items: center;
        padding-left: 5vw;
    }
    #image_sec img{
        filter: brightness(60%);
        width: 600px;
        height: 85vh;
        overflow: hidden;
        object-fit: cover;
        box-shadow: var(--box_shadow);
        border-radius: 5px 0 0 5px;
    }
    #image_sec p{
        position: absolute;
        z-index: 1;
        width: 100vw;
        color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 2.5em;
        margin-left: -26.5vw;
    }

    #hero_sec{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 41.5vw;
        height: 85vh;
        background-color: var(--foreground_colour);
        border-radius: 0 5px 5px 0;
        box-shadow: var(--box_shadow);
    }
    #hero_sec a{
        border: solid var(--accent_colour); 
        background-color: var(--foreground_colour);
        width: 30vw;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 5vw;
        font-family: var(--font_family);
        color: var(--black_text_color);
        font-weight: bold;
        border-radius: 5px;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #hero_sec a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #hero_sec a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #insurance_sec{
        width: 85vw;
        background-color: var(--foreground_colour);
        margin: 0 auto;     /*nollan finns för att den bara ska lägga auto på sidorna sa Gemini*/
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
    }

    .insurance_hyperlink{
        padding: 0vh 1vw;
        background-color: var(--foreground_colour);
        margin-top: 5vh;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid rgba(0, 0, 0, 0.231) 3px;
        border-radius: 5px;
        width: fit-content;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    .insurance_hyperlink:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    .insurance_hyperlink:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    .insurance_text{
        padding-left: 8px;
        border-left: 4px solid rgba(0, 0, 0, 0.315);
    }
    h3{
        font-size: 1.5em;
    }

    #car_insurance{
        margin-bottom: 10vh;
        padding: 10vh 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #car_insurance_not_img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -100px;
        padding-right: 5vw;
        color: var(--black_text_color);
    }
    #car_insurance img{
        height: 80vh;
        margin-right: -159px;
        border-radius: 10px;
    }

    #house_insurance{
        margin-bottom: 10vh;
        padding: 10vh 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #house_insurance_not_img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -100px;
        padding-right: 5vw;
        color: var(--black_text_color);
    }
    #house_insurance img{
        height: 80vh;
        margin-right: -162px;
        border-radius: 10px;
    }

    #life_insurance{
        margin-bottom: 10vh;
        padding: 10vh 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #life_insurance_not_img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -100px;
        padding-right: 5vw;
        color: var(--black_text_color);
    }
    #life_insurance img{
        height: 80vh;
        margin-right: -160px;
        border-radius: 10px;
    }

    #other_vehicle_insurances{
        margin-bottom: 10vh;
        padding: 10vh 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #other_vehicle_insurances_not_img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -100px;
        padding-right: 5vw;
        color: var(--black_text_color);
    }
    #other_vehicle_insurances img{
        height: 80vh;
        margin-right: -172px;
        border-radius: 10px;
    }

    #animal_insurance{
        margin-bottom: 10vh;
        padding: 10vh 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #animal_insurance_not_img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -100px;
        padding-right: 5vw;
        color: var(--black_text_color);
    }
    #animal_insurance img{
        height: 80vh;
        margin-right: -150px;
        border-radius: 10px;
    }
}

h3{
    text-align: center;
    font-family: var(--font_family);
}

