h2{
    color: var(--black_text_color);
    font-family: var(--font_family);
}

@media only screen and (max-width: 550px){
    #log_in_sec{
        padding-top: 15vh;
        background-color: var(--foreground_colour);
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    #BankID_and_text_sec{
        padding-top: 15vh;
        padding: 0 5vw;
        color: var(--black_text_color);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #BankID_and_text_sec h2{
        text-align: center; 
        font-size: 2em;
    }
    #BankID_and_text_sec h3{
        color: var(--black_text_color);
        font-family: var(--font_family);
        text-align: center;
        font-size: 1em;
        padding-bottom: 5vh;
        margin-top: -0.5vh;
    }

    #BankID_sec{
        border-top: dotted var(--background_color);
        padding-top: 7.5vh;
        display: flex;
        flex-direction: column;
        gap: 4vh;
        padding-bottom: 7.5vh;
    }
    #BankID_sec a{
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 65vw;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #BankID_sec a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #BankID_sec a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #manual_log_in{
        padding-top: 5vh;
        padding-bottom: 10vh;
        border-top: dotted var(--background_color);
        background-color: var(--foreground_colour);
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    #log_in_with_google img{
        width: 8vw;
    }
    #log_in_with_google{
        gap: 8vw;
        padding: 0 2vw;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 65vw;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_google:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_google:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #log_in_with_apple img{
        width: 10vw;
        filter: invert();
        margin-left: -3vw;
    }
    #log_in_with_apple{
        gap: 7vw;
        padding: 0 2vw;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 65vw;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_apple:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_apple:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    
    #log_in_with_mail{
        padding-top: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
        border-top: dashed var(--background_color);
    }
    #log_in_with_mail input{
        width: 60vw;
        padding: 2vh 3vw;
        font-size: 1em;
        border: 2px solid var(--background_color);
        border-radius: 5px;
        background-color: white;
        color: var(--black_text_color);
        font-family: var(--font_family);
        outline: none;
        transition: box-shadow ease 0.2s;
    }
    #log_in_with_mail input:focus{
        box-shadow: 0px 0.1em 7px rgba(0, 0, 0, 0.226) inset;
        transition: box-shadow ease 0.2s;
    }

    #log_in_with_mail_buttons_sec{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }
    #log_in_with_mail_buttons_sec a{
        gap: 7vw;
        padding: 0 4vw;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        height: fit-content;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_mail_buttons_sec a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_mail_buttons_sec a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #sign_in{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: dashed var(--background_color);
        margin-top: 3vh;
    }
    #sign_in p{
        font-weight: bold;
    }
    #sign_in a{
        gap: 7vw;
        padding: 0 4vw;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        height: 7.5vh;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #sign_in a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #sign_in a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
}

@media only screen and (min-width: 551px) and (max-width: 650px){
    #log_in_sec{
        border-top: dotted var(--background_color);
        background-color: var(--foreground_colour);
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    #BankID_and_text_sec{
        padding-top: 15vh;
        padding: 0 15vw;
        color: var(--black_text_color);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #BankID_and_text_sec h2{
        text-align: center; 
        font-size: 2em;
    }
    #BankID_and_text_sec h3{
        color: var(--black_text_color);
        font-family: var(--font_family);
        text-align: center;
        font-size: 1em;
        padding-bottom: 5vh;
        margin-top: -0.5vh;
    }

    #BankID_sec{
        border-top: dotted var(--background_color);
        padding-top: 7.5vh;
        display: flex;
        flex-direction: column;
        gap: 4vh;
        padding-bottom: 10vh;
    }
    #BankID_sec a{
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 65vw;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #BankID_sec a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #BankID_sec a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #manual_log_in{
        padding-top: 10vh;
        padding-bottom: 10vh;
        border-top: dotted var(--background_color);
        background-color: var(--foreground_colour);
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    #log_in_with_google img{
        height: 8vh;
    }
    #log_in_with_google{
        gap: 8vw;
        padding: 0 2vw;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 325px;
        height: 12.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_google:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_google:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #log_in_with_apple img{
        height: 10vh; 
        filter: invert();
        margin-left: -15px;
    }
    #log_in_with_apple{
        gap: 8vw;
        padding: 0 2vw;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 325px;
        height: 12.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_apple:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_apple:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    
    #log_in_with_mail{
        margin-top: 2vh;
        padding-top: 4vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
        border-top: dashed var(--background_color);
    }
    #log_in_with_mail input{
        width: 60vw;
        padding: 2vh 3vw;
        font-size: 1em;
        border: 2px solid var(--background_color);
        border-radius: 5px;
        background-color: white;
        color: var(--black_text_color);
        font-family: var(--font_family);
        outline: none;
        transition: box-shadow ease 0.2s;
    }
    #log_in_with_mail input:focus{
        box-shadow: 0px 0.1em 7px rgba(0, 0, 0, 0.226) inset;
        transition: box-shadow ease 0.2s;
    }

    #log_in_with_mail_buttons_sec{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 75vw;
    }

    #log_in_with_mail_buttons_sec a{
        padding: 0 4vw;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        height: 7.5vh;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_mail_buttons_sec a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_mail_buttons_sec a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #sign_in{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: dashed var(--background_color);
        margin-top: 3vh;
        padding-top: 3vh;
        gap: 10px;
    }
    #sign_in p{
        font-weight: bold;
    }
    #sign_in a{
        gap: 7vw;
        padding: 0 1vw;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        height: 7.5vh;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #sign_in a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #sign_in a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }


}

@media only screen and (min-width: 651px){
    #log_in_sec{
        padding-top: 5vh;
        border-top: dotted var(--background_color);
        background-color: var(--foreground_colour);
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    #BankID_and_text_sec{
        padding-top: 15vh;
        padding: 0 20vw;
        color: var(--black_text_color);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #BankID_and_text_sec h2{
        text-align: center;
        font-size: 3em;
    }
    #BankID_and_text_sec h3{
        color: var(--black_text_color);
        font-family: var(--font_family);
        text-align: center;
        font-size: 1.2em;
        padding-bottom: 5vh;
        margin-top: -0.5vh;
    }

    #BankID_sec{
        display: flex;
        flex-direction: row;
        gap: 4vh;
        padding-bottom: 10vh;
    }
    #BankID_sec a{
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #BankID_sec a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #BankID_sec a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #manual_log_in{
        padding-top: 7vh;
        padding-bottom: 10vh;
        border-top: dashed var(--background_color);
        background-color: var(--foreground_colour);
        width: 45vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    #log_in_with_google img{
        height: 8vh;
    }
    #log_in_with_google{
        gap: 8vw;
        padding: 0 2vw;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 325px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_google:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_google:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #log_in_with_apple img{
        height: 10vh; 
        filter: invert();
        margin-left: -16px; /*kompensation för att apple loggan är lite stygg och ocetrerad*/
    }
    #log_in_with_apple{
        gap: 7.8vw;         /*kompensation för att apple loggan är lite stygg och ocetrerad*/
        padding: 0 2vw;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: 325px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_apple:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_apple:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    
    #log_in_with_mail{
        margin-top: 4vh;
        padding-top: 6vh;
        width: 45vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        gap: 3vh;
        border-top: dashed var(--background_color);
    }
    #log_in_with_mail input{
        width: 30vw;
        padding: 2vh 3vw;
        font-size: 1em;
        border: 2px solid var(--background_color);
        border-radius: 5px;
        background-color: white;
        color: var(--black_text_color);
        font-family: var(--font_family);
        outline: none;
        transition: box-shadow ease 0.2s;
    }
    #log_in_with_mail input:focus{
        box-shadow: 0px 0.1em 7px rgba(0, 0, 0, 0.226) inset;
        transition: box-shadow ease 0.2s;
    }

    #log_in_with_mail_buttons_sec{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 75vw;
        gap: 2vw;
    }
    #log_in_with_mail_buttons_sec a{
        padding: 0 2vw;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        height: 7.5vh;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_mail_buttons_sec a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #log_in_with_mail_buttons_sec a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }

    #sign_in{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-top: dashed var(--background_color);
        margin-top: 3vh;
        padding-top: 3vh;
        width: 45vw;
        gap: 10px;
    }
    #sign_in p{
        font-weight: bold;
    }
    #sign_in a{
        gap: 7vw;
        padding: 0 2vw;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        height: 7.5vh;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #sign_in a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #sign_in a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
}