@media only screen and (max-width: 550px){
    #image_sec{
        height: 75vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        box-shadow: var(--box_shadow);
        z-index: 0;
        margin-top: -9vh;
        display: flex;                      /*Innan jag använde flex använde jag AI genererad kod som var mindre effektiv än att bara använda flex*/
        align-items: center;
        justify-content: center;
    }

    #text_sec{
        background-color: var(--foreground_colour);
        height: auto;
        width: 85vw;
        margin: auto;
        padding: var(--padding_val);
        font-family: var(--font_family);
    }

    #paragraf_sec_1{
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    #paragraf_sec_2{
        border-top: dashed rgb(239, 239, 239);
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    #paragraf_sec_3{
        border-top: dashed rgb(239, 239, 239);
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}

@media only screen and (min-width: 551px) and (max-width: 800px){
    #image_sec{
        height: 75vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        box-shadow: var(--box_shadow);
        z-index: 0;
        margin-top: -9vh;
        display: flex;                      /*Innan jag använde flex använde jag AI genererad kod som var mindre effektiv än att bara använda flex*/
        align-items: center;
        justify-content: center;
    }
    
    #text_sec{
        background-color: var(--foreground_colour);
        height: auto;
        width: 85vw;
        margin: auto;
        padding: var(--padding_val);
        font-family: var(--font_family);
    
    }
}

@media only screen and (min-width: 801px){

    #home_page_sec{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #image_sec{
        display: grid;
        grid-column: 1;
        grid-row: 1;
        background-color: var(--foreground_colour);
        height: 75vh;
        width: 40vw;
        overflow: hidden;
        position: relative;
        z-index: 0;
        display: flex;                      /*Innan jag använde flex använde jag AI genererad kod som var mindre effektiv än att bara använda flex*/
        align-items: center;
        justify-content: center;
    }
    #paragraf_sec_1{
        display: grid;
        grid-column: 2;
        grid-row: 1;
    }

    #text_sec{
        background-color: var(--foreground_colour);
        height: auto;
        width: 100%;
        margin: auto;
        padding: var(--padding_val);
        font-family: var(--font_family);
    }
}

#text_sec article h3{
    background-color: var(--accent_colour);
    color: rgb(255, 255, 255);
    width: fit-content;
    padding: var(--smaller_padding_val);
    border-radius: 2px 6px 6px 6px;
}    

#image_sec img{
    filter: brightness(60%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#image_sec p{
    position: absolute;
    z-index: 1;
    width: 100vw;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2.5em;
}