@media only screen and (max-width: 550px){
    #image_sec{
        height: 75vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        box-shadow: var(--box_shadow);
        z-index: 0;
        margin-top: -9vh;
        display: flex;                      /*Innan jag använde flex använde jag AI genererad kod som var mindre effektiv än att bara använda flex*/
        align-items: center;
        justify-content: center;
    } 

    #insurance_sec{
        background-color: var(--foreground_colour);
        width: 85vw;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    #insurance_sec h2{
        color: var(--black_text_color);
        font-family: var(--font_family);
        text-align: center;
    }
    #insurance_sec h3{
        color: var(--black_text_color);
        font-family: var(--font_family);
        text-align: center;
    }
    #insurance_sec p{
        color: var(--black_text_color);
        font-family: var(--font_family);
        padding: 0 3vw;
    }
}

#image_sec img{
    filter: brightness(60%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#image_sec p{
    position: absolute;
    z-index: 1;
    width: 100vw;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2.5em;
}