@media only screen and (max-width: 550px){
    #image_sec{
        height: 75vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        box-shadow: var(--box_shadow);
        z-index: 0;
        margin-top: -9vh;
        display: flex;                      /*Innan jag använde flex använde jag AI genererad kod som var mindre effektiv än att bara använda flex*/
        align-items: center;
        justify-content: center;
    } 
    #image_sec img{
        filter: brightness(60%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #image_sec p{
        position: absolute;
        z-index: 1;
        width: 100vw;
        color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 2.5em;
    }
    #mini_text_on_img{
        display: none;
    }

    #insurance_sec{
        background-color: var(--foreground_colour);
        width: 85vw;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
    #insurance_sec h2{
        color: var(--black_text_color);
        font-family: var(--font_family);
        text-align: center;
    }
    #insurance_sec h3{
        color: var(--black_text_color);
        font-family: var(--font_family);
        text-align: center;
    }
    #insurance_sec p{
        color: var(--black_text_color);
        font-family: var(--font_family);
        padding: 0 3vw;
    }

    #insurance_select_sec{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 10vh;
    }
    #insurance_select{
        appearance: none;
        width: 60vw;
        height: 5vh;
        display: flex;
        align-self: center;
        padding: 0 2vw;
        border: 3px solid rgb(239, 239, 239);
        border-radius: 5px;
        box-shadow: var(--box_shadow);
        outline: none;
    }
    #insurance_select::after{
        content: "";
    }

    #insurance_select_sec a{
        background-color: var(--foreground_colour);
        margin-top: 5vh;
        color: var(--black_text_color);
        font-weight: bold;
        border: solid var(--accent_colour) 3px;
        border-radius: 5px;
        width: fit-content;
        height: 5vh;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        box-shadow: var(--box_shadow);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #insurance_select_sec a:hover{
        background-color: rgb(120, 202, 237);
        box-shadow: 0px 0.2em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
    #insurance_select a:active{
        background-color: rgb(67, 185, 235);
        box-shadow: 0px 0em 7px rgba(0, 0, 0, 0.226);
        transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.2s;
    }
}

@media only screen and (min-width: 551px){
    #image_sec{
        height: 75vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        box-shadow: var(--box_shadow);
        z-index: 0;
        margin-top: -9vh;
        display: flex;                      /*Innan jag använde flex använde jag AI genererad kod som var mindre effektiv än att bara använda flex*/
        align-items: center;
        justify-content: center;
    } 
    #image_sec img{
        filter: brightness(60%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #image_text_sec{
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #image_text_sec p{
        position: relative;
        z-index: 1;
        width: 100vw;
        color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 2.5em;
    }
    #mini_text_on_img{
        position: relative;
        z-index: 1;
        width: 100vw;
        color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 1.7em;
        margin-top: -3vh;
        margin-bottom: -2vh;
    }
    #mini_text_below_img{
        display: none;
    }
}

