:root{
    --nav_menu_pos: -0vh;
}

body{
    background-color: darkgray;
    display: flex;
}

header{
    background-color: white;
    height: 20vh;
    position: relative;
    z-index: 2;
}

header img{
    width: 50%;
    height: 50%;
    object-fit: contain;
    margin-top: 5vh;
    margin-left: 50%;
    transform: translate(-50%);
    z-index: 2;
    position: relative;
}

nav{
    background-color: rgb(240, 0, 0);
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav img{
    height: 100%;
    margin-top: 5vh;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    filter: invert();
    position: relative;
    z-index: 2;
}

#nav_sec{
    z-index: 1;
    background-color: brown;
    height: 60vh;
    width: 40vw;
    margin-left: 50%;
    transform: translate(-50%);
    position: sticky;
    margin-top: var(--nav_menu_pos);
    transition: margin-top 0.5s ease-in-out;

    display: grid;
    justify-content: space-evenly;
}


#sec1{
    background-color: grey;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#sec1 img{
    filter: brightness(40%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sec1 p{
    position: absolute;
    z-index: 1;
    top: 50%;                           /*Denna koden fick jag från chatGPT*/
    left: 50%;                          /*Denna koden fick jag från chatGPT*/
    transform: translate(-50%, -95%);   /*Denna koden fick jag från chatGPT, men jag anpassade värdena själv*/
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2em;
}

#sec2{
    background-color: bisque;
    height: auto;
    width: 70vw;
    margin: auto;
}

footer{
    background-color: brown;
    height: 50vh;
}

