#image_sec{
    height: 75vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: var(--box_shadow);
    z-index: 0;
    margin-top: -9vh;
    display: flex;                      /*Innan jag använde flex använde jag AI genererad kod som var mindre effektiv än att bara använda flex*/
    align-items: center;
    justify-content: center;
}

#image_sec img{
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#image_sec p{
    position: absolute;
    z-index: 1;
    width: 100vw;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2.5em;
}

#sec2{
    background-color: var(--foreground_colour);
    height: auto;
    width: 85vw;
    margin: auto;
    padding: var(--padding_val);
    font-family: var(--font_family);
    
}

#sec2 article h3{
    background-color: var(--accent_colour);
    color: rgb(255, 255, 255);
    width: fit-content;
    padding: var(--smaller_padding_val);
    border-radius: 2px 6px 6px 6px;
}