:root{
    --nav_menu_pos: -66vh;
    --padding_val: 0.5em;
    --smaller_padding_val: 0.2em;
    --font_family: Tahoma, sans-serif;
    --box_shadow: 0px 0.5em 7px rgba(0, 0, 0, 0.226);
    --box_shadow_footer: 0px -0.5em 7px rgba(0, 0, 0, 0.226);
    --accent_colour: rgb(0, 168, 240); /*0, 168, 240 ("Baby-Blue"), valde "baby blue" för att den är o-offensiv och "snäll"/skön att titta på (mjuk färg). Färgen är även lite proffsig och enligt mig är visar den att man kan lita på företaget, det är inte en aggresiv/farlig färg*/
    --foreground_colour: white;
    --black_text_color: #333; /*Denna färgen har jag läst ska vara och tycker själv ser aningen mer proffsig ut. Att texten känns proffsig är viktigt då det visar att Trygg-Hansa vet vad de gör*/
    --none_or_block: none;
}

body{
    background-color: rgb(239, 239, 239);
    margin: 0;
    /*overflow-x: hidden; /*Denna koden hindrar användaren från att skrolla, så ifall sidan hamnar fel måste man ta bort denna, skrolla ått vänster och sen sätta tillbaks den igen :)*/
}

#wrapper {
    position: relative;
    width: 100%;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}